/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.navList {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0; */
    margin-top: 40px;
    padding: 0;
    list-style: none;
    margin-left: 40px;
    

}

.navListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 20px;
    }

.navListItem:hover {
    color: brown;

}
.navListItem a {
  color: black;
  text-decoration: none; /* Remove underlines from links */
}


.logo-img {
    max-width: 100px;
    margin-right: 40px;
    margin-top: 30px;
    /* width: 150px;
  height: 150px; */
}

.middle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    }


/* .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: brown;
    background-color: green;

} */
/* Style for the input */
input {
    width: 200px;
    text-align: center;
    height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid brown;
    border-radius: 5px;
    outline: none;
    border-color: brown;
    box-shadow: 0 0 8px rgba(172, 170, 170, 0.931);
    background-color:#fbf7f7;
}


.select-container {
display: flex;
flex-direction: column-reverse;
align-items: center;
justify-content: center;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
border: brown;
width: 200px; 
height: 45px;
padding: 5px 10px;
font-size: 18px;
font-weight: 600;
border: 1px solid brown;
border-radius: 5px;
outline: none;
border-color: brown;
box-shadow: 0 0 5px rgb(211, 210, 210);
    
}






.container {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
  padding: 20px;
  height: 60vh;
}

.section {
  border: 3px solid brown;
  padding: 20px;
  margin: 10px;
  flex: 1;
  justify-content:center;
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  border: 1px solid brown;
  padding: 10px;
  margin: 10px;
  background-color: #fbf7f7;
  height: 40vh;
}


h2, h3 {
  margin: 0;
  padding: 0;
  color: brown;
  border-bottom: 2px dotted brown; /* Add a border line under headers */
  padding-bottom: 5px; /* Add some spacing between the text and the border line */
}

.list {
  list-style: none;
  padding: 0;
  
}

.list li {
  margin-top: 10px;
  margin-bottom: 5px;
}
.select-container {
    background-color: #fbf7f7;
}