/* calendar.css */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
}
.navList {
  display: flex;
  justify-content: space-evenly;
  /* margin: 0; */
  margin-top: 40px;
  padding: 0;
  list-style: none;
  margin-left: 40px;
  
}

.navListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 20px;
  
}

.navListItem:hover{
    color: brown;
    
}


.logo-img {
  max-width: 100px;
  margin-right: 40px;
  margin-top: 30px;
}

/* Main container styles */
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Left container styles */
.left {
  flex: 1;
  border: 1px solid brown;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
  }

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
h1:hover {
  color: brown;

}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex:1 ;
  
}

.leftItem {
  padding: 10px;
  border: 1px solid #ccc;
  flex:1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

.leftItem:nth-child(2) {
  margin-bottom: -2px;
  border-bottom: 4px solid brown;
}

.leftItem:nth-child(3) {
  margin-top: -2px;
  border-top: 4px solid brown;
}

/* Right container styles */
.right {
  flex: 1;
  border: 1px solid brown;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.agendaButton, .syllabusButton {
  padding: 10px;
  background-color: #2d83d9;
  color: brown;
  border: none;
  cursor: pointer;
  font-size: 30px;
  flex:1;
}

.agendaButton {
  background-color: whitesmoke;
  border-bottom: 4px solid brown;
}

.syllabusButton {
  background-color: whitesmoke;
  border-top: 4px solid brown;
}
.main {
    border: 4px solid brown;
    height: 60vh;
    margin: 40px;
}


