.navList {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.navListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.navListItem:hover{
    color: brown;
}
